    /*###########################################*/        

    /*Pagina Estructuras Responsive*/

    /*###########################################*/    

    @media(max-width:1024px){
        .desplazo{
            img{
                border: 10px solid rgb(30, 17, 143);
            }
        }
    }

    @media(max-width:768px){
        .desplazo{
            display: grid;
            grid-template-areas: 
            "na1 na2 na3"
            "na4 na4 na4"
            "na5 na6 na7";
            
            width: 90%;
            height: 60%;
            margin: 20px;
            top: 95px;
            background: url(../assets/plantillas/marco.png);
            background-color: rgba(255, 187, 0, 0.274);
            img{
                height: 100px;
                padding: 15px;
                background-image: url(/assets/plantillas/plantilla1.png);
            }
            &:nth-child(1){
                grid-area: na1;
            }
            &:nth-child(2){
                grid-area: na2;
            }
            &:nth-child(3){
                grid-area: na3;
            }
            .ficha{
                visibility: visible;
                grid-area: na4;
                justify-content: center;
                display: inline-flex;
                img{
                    border: 10px solid rgba(119, 59, 3, 0.534);
                }
                p{
                    padding: 10px;
                    border: 10px solid rgba(119, 59, 3, 0.534);
                    @include fuente_1;
                    font-size: 10px;
                    color: white;
                }
            }
            &:nth-child(5){
                grid-area: na5;
            }
            &:nth-child(6){
                grid-area: na6;
            }
            &:nth-child(7){
                grid-area: na7;
            }
        }  
        .desplazador{
            visibility: hidden;
        }
}

    @media(max-width:425px){
        .desplazo{
            display: grid;
            grid-template-areas: 
            "na4 na4 na4 na4 na4 na4"
            "na4 na4 na4 na4 na4 na4"
            "na1 na2 na3 na5 an6 na7";
            grid-template-rows: 2fr 1fr;
            
            width: 90%;
            height: 60%;
            margin: 20px;
            top: 95px;
            background: url(../assets/plantillas/marco.png);
            background-color: rgba(255, 187, 0, 0.274);
            img{
                height: 60px;
                padding: 15px;
                background-image: url(/assets/plantillas/plantilla1.png);
            }
            &:nth-child(1){
                grid-area: na1;
            }
            &:nth-child(2){
                grid-area: na2;
            }
            &:nth-child(3){
                grid-area: na3;
            }
            .ficha{
                visibility: visible;
                grid-area: na4;
                justify-content: center;
                display:flex;
                flex-direction: column;
                margin-left: 90px;
                margin-right: 90px;                
                img{
                    border: 10px solid rgba(119, 59, 3, 0.534);
                    height: 100px;
                    width: 100px;
                    margin-left: auto;
                    margin-right: auto;
                }
                p{
                    padding: 10px;
                    border: 10px solid rgba(119, 59, 3, 0.534);
                    @include fuente_1;
                    font-size: 10px;
                    color: white;
                }
            }
            &:nth-child(5){
                grid-area: na5;
            }
            &:nth-child(6){
                grid-area: na6;
            }
            &:nth-child(7){
                grid-area: na7;
            }
        }  
        .desplazador{
            visibility: hidden;
        }

    }

        /*###########################################*/    
    