@charset "UTF-8";
/*Area Inicial*/
/*Utilidades*/
/*Variables*/
/*Mapas*/
/*color: map-get($map: $colores,ColorFondo);*/
/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Caracteristicas particulares del body-fondo por pagina*/
.fondo1 {
  background-image: url(../assets/imagenes/general/Pasto.jpeg); }

.fondo2 {
  background-image: url(../assets/imagenes/general/Redstone.png); }

.fondo3 {
  background-image: url(../assets/imagenes/general/pared.jpg); }

.fondo4 {
  background-image: url(../assets/imagenes/general/Tierra.jpeg); }

.fondo5 {
  background-image: url(../assets/imagenes/general/madera.jpg); }

/*Layout*/
/*Caracteristicas basicas y generales del header (todas las paginas)*/
.superior {
  width: 100%;
  height: 100px;
  position: absolute;
  font-family: "Irish Grover", system-ui;
  font-weight: 1000;
  text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
  font-style: normal;
  text-align: center;
  text-shadow: none;
  font-size: 50px;
  color: color-mix(in srgb-linear, orange 50%, red 40%);
  background: url("../assets/imagenes/general/encabezado.jpg");
  /*----------------------------------------------------------------------------------------------------------------*/
  /*Caracteristicas particulares del header por pagina*/ }
  .superior .p_principal {
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black; }
  .superior .p_redstone {
    text-shadow: 3px 3px 0 red, -3px 3px 0 red, -3px -3px 0 red, 3px -3px 0 red; }
  .superior .p_estructuras {
    text-shadow: 3px 3px 0 #3F2305, -3px 3px 0 #3F2305, -3px -3px 0 #3F2305, 3px -3px 0 #3F2305; }
  .superior .p_granjas {
    text-shadow: 3px 3px 0 #015f01, -3px 3px 0 #015f01, -3px -3px 0 #015f01, 3px -3px 0 #015f01; }
  .superior .p_aldeanos {
    text-shadow: 3px 3px 0 gray, -3px 3px 0 gray, -3px -3px 0 gray, 3px -3px 0 gray; }

.barnavc {
  overflow: hidden;
  position: relative;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 22px;
  width: 30px;
  margin: 0 auto;
  background-color: #06a80e;
  -webkit-transition: width .3s .5s ease, border-radius 1.1s ease;
  transition: width .3s .5s ease, border-radius 1.1s ease; }
  .barnavc a {
    display: block;
    position: relative;
    color: #e07108c5;
    text-decoration: none;
    overflow: hidden;
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    padding: 5px;
    border-radius: 5px; }
    .barnavc a:hover {
      text-decoration: inherit;
      color: white;
      background-color: #a400c5ee;
      -webkit-transition: background-color .5s ease;
      transition: background-color .5s ease; }
  .barnavc:after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 1.1rem;
    background-color: brown;
    color: white;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transition: all .3s .5s ease;
    transition: all .3s .5s ease;
    cursor: pointer;
    cursor: hand; }
  .barnavc ul {
    opacity: 0;
    margin-top: 15px;
    opacity: 0;
    width: 100%;
    margin-left: 0px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: center;
    font-size: 0.9rem; }
    .barnavc ul li {
      background-color: whitesmoke;
      margin-top: 5px;
      border-radius: 5px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      -webkit-transition: height 1s ease;
      transition: height 1s ease; }

.barnavb {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10; }
  .barnavb:hover .barnavc {
    width: 150px;
    border-radius: 15px;
    padding-bottom: 5px;
    -webkit-transition: width .3s ease, border-radius .3s ease, padding-bottom .3s ease;
    transition: width .3s ease, border-radius .3s ease, padding-bottom .3s ease; }
    .barnavb:hover .barnavc:after {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      left: 50%;
      top: 10px;
      -webkit-transform: translateY(-5px) translateX(-50%);
      transform: translateY(-5px) translateX(-50%); }
    .barnavb:hover .barnavc ul {
      opacity: 1;
      margin-top: 30px;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .barnavb:hover .barnavc ul li {
        height: 25px;
        -webkit-transition: height 1s ease;
        transition: height 1s ease; }
        .barnavb:hover .barnavc ul li:hover {
          border-bottom: 1px solid #d2c9c9; }

/*Caracteristicas basicas y generales del footer (todas las paginas)*/
.inferior {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0; }
  .inferior img {
    width: 100%;
    height: 100px; }

.inicio img {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 0; }

.enlaces {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex; }
  .enlaces img {
    height: 50px; }

/*###########################################*/
/*Pagina Index*/
/**********************************************/
.p1redstone {
  display: inline-flex;
  position: relative;
  top: 110px; }
  .p1redstone img {
    width: 100px;
    height: 100px; }
  .p1redstone p {
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    width: 50%;
    height: 100px;
    color: white;
    margin-top: 32px; }
  .p1redstone a img {
    width: 50px;
    height: 50px;
    margin-top: 25px; }

/**********************************************/
.p1estructuras {
  display: inline-flex;
  position: relative;
  top: 110px;
  justify-content: right; }
  .p1estructuras img {
    width: 100px;
    height: 100px; }
  .p1estructuras p {
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    min-width: 50%;
    width: 50%;
    height: 100px;
    color: white;
    margin-top: 32px; }
  .p1estructuras a img {
    width: 50px;
    height: 50px;
    margin-top: 25px; }

/**********************************************/
.p1granjas {
  display: inline-flex;
  position: relative;
  top: 110px; }
  .p1granjas img {
    width: 100px;
    height: 100px; }
  .p1granjas p {
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    width: 50%;
    height: 100px;
    color: white;
    margin-top: 32px; }
  .p1granjas a img {
    width: 50px;
    height: 50px;
    margin-top: 25px; }

/**********************************************/
.p1aldeano {
  display: inline-flex;
  position: relative;
  top: 110px;
  justify-content: right; }
  .p1aldeano img {
    width: 100px;
    height: 100px; }
  .p1aldeano p {
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    width: 50%;
    height: 100px;
    color: white;
    margin-top: 32px; }
  .p1aldeano a img {
    width: 50px;
    height: 50px;
    margin-top: 25px; }

/*###########################################*/
/*Pagina Redstone*/
/*###########################################*/
.centro {
  display: inline-flex;
  position: relative;
  top: 225px;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(0, 255, 255, 0.274);
  margin-left: 50px;
  margin-right: 50px;
  gap: 15px; }
  .centro img {
    width: 300px;
    height: 250px;
    margin: 20px; }
  .centro p {
    align-self: center;
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    text-align: left;
    font-size: 14;
    width: 50%;
    height: 100px;
    color: white;
    margin-left: 10px;
    margin-right: 10px; }

/*###########################################*/
.barra {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: absolute;
  top: 110px;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(255, 187, 0, 0.274);
  width: 93%;
  height: 80px;
  justify-items: center;
  margin-left: 50px; }
  .barra img {
    height: 60px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px; }

/*###########################################*/
/*Pagina Estructuras*/
/*###########################################*/
.desplazo {
  display: inline-flex;
  position: absolute;
  top: 110px;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(255, 187, 0, 0.274);
  width: 93%;
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 50px; }
  .desplazo img {
    height: 200px;
    padding: 15px;
    border: 10px solid #631515;
    margin: 10px; }

/*###########################################*/
.desplazador {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: absolute;
  bottom: 110px;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(255, 187, 0, 0.274);
  width: 93%;
  height: 80px;
  justify-content: center;
  margin-left: 50px; }
  .desplazador img {
    height: 60px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: contain; }
  .desplazador .flecha1 {
    background: none; }
    .desplazador .flecha1:hover {
      background-image: url(../assets/imagenes/estructuras/izquierda.png); }
  .desplazador .flecha2 {
    background: none; }
    .desplazador .flecha2:hover {
      background-image: url(../assets/imagenes/estructuras/derecha.png); }
  .desplazador img:hover {
    height: 60px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../assets/imagenes/estructuras/activo.png);
    background-size: contain; }

.ficha {
  visibility: hidden; }

/*###########################################*/
/*Pagina Granjas*/
/*###########################################*/
.centro1 {
  visibility: hidden; }

.narradora {
  width: 100%;
  display: flex;
  position: relative;
  top: 135px;
  justify-content: right; }
  .narradora img {
    height: 185px; }
  .narradora p {
    display: flex;
    align-items: center;
    width: 250px;
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    height: 100px;
    color: white;
    margin-left: 10px;
    margin-right: 10px; }

/*###########################################*/
.narrador {
  display: flex;
  position: absolute;
  top: 95px;
  justify-content: center; }
  .narrador img {
    height: 185px;
    transform: rotatey(180deg); }
  .narrador p {
    display: flex;
    align-items: center;
    width: 200px;
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    height: 100px;
    color: white;
    margin-left: 10px;
    margin-right: 10px; }

/*###########################################*/
.construccion {
  display: flex;
  position: absolute;
  top: 400px;
  justify-content: center; }
  .construccion img {
    height: 200px; }

/*###########################################*/
.diseño {
  width: 100%;
  display: flex;
  position: relative;
  top: 370px;
  justify-content: right;
  right: 20px; }
  .diseño img {
    height: 100px; }
  .diseño .map {
    height: 50px; }

/*###########################################*/
.recursos {
  display: flex;
  position: absolute;
  top: 120px;
  left: 550px; }
  .recursos img {
    height: 150px; }
  .recursos .rock {
    height: 95px; }

/*###########################################*/
.mons {
  display: flex;
  position: relative;
  height: 250px;
  justify-content: center;
  top: 100px; }

/*###########################################*/
/*Pagina Aldeano*/
/*###########################################*/
.aldeano {
  display: flex;
  position: absolute;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(255, 187, 0, 0.274);
  top: 100px;
  right: 15px;
  height: 100px;
  margin-left: 50px; }
  .aldeano img {
    height: 200px;
    background-image: url(../assets/imagenes/aldeanos/Villager_Base.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px; }
  .aldeano p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-left: 25px;
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style: normal;
    text-align: center;
    font-size: 14;
    height: 100px;
    color: purple;
    margin-left: 10px;
    margin-right: 10px; }

/*###########################################*/
.marco {
  visibility: hidden; }

.apartados {
  display: flex;
  position: absolute;
  bottom: 250px;
  background: url(../assets/plantillas/marco.png);
  background-color: rgba(255, 187, 0, 0.274);
  width: 93%;
  height: 100px;
  justify-content: space-between;
  margin-left: 50px; }
  .apartados img {
    height: 200px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.bases {
  background-image: url(../assets/imagenes/aldeanos/Bed.png); }
  .bases:hover {
    background-size: 150%; }

.profesiones {
  background-image: url(../assets/imagenes/aldeanos/Crafting_Table.png); }
  .profesiones:hover {
    background-size: 150%; }

.comercio {
  background-image: url(../assets/imagenes/aldeanos/Trader.png); }
  .comercio:hover {
    background-size: 120%; }

.otros {
  background-image: url(../assets/imagenes/aldeanos/Witch.png); }
  .otros:hover {
    background-size: 120%; }

/*Layout responsive*/
/**********************************************/
/*Pagina Index Responsive*/
/*###########################################*/
@media (max-width: 1024px) {
  .p {
    text-shadow: 3px 3px 0 #383737, -3px 3px 0 #383737, -3px -3px 0 #383737, 3px -3px 0 #383737; } }

@media (max-width: 768px) {
  /*aqui segun mi esperado en figma cambiaria el texto en las "p1*" por los titulos pero eso aun no lo hemos visto asi que asi lo deje */
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  .superior {
    font-size: 30px; }
  .p1redstone img {
    width: 80px;
    height: 80px; }
  .p1redstone p {
    font-size: 10px; }
  .p1redstone a img {
    width: 50px;
    height: 50px; }
  /**********************************************/
  .p1estructuras {
    top: 60px;
    justify-content: right; }
    .p1estructuras img {
      width: 80px;
      height: 80px; }
    .p1estructuras p {
      font-size: 10px; }
    .p1estructuras a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; }
  /**********************************************/
  .p1granjas {
    top: 40px; }
    .p1granjas img {
      width: 80px;
      height: 80px; }
    .p1granjas p {
      font-size: 10px; }
    .p1granjas a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; }
  /**********************************************/
  .p1aldeano {
    top: 0px;
    justify-content: right; }
    .p1aldeano img {
      width: 80px;
      height: 80px; }
    .p1aldeano p {
      font-size: 10px; }
    .p1aldeano a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; } }

/*-------------------------------------------------------------------------*/
@media (max-width: 425px) {
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  .p1redstone {
    display: block;
    justify-content: center;
    top: 110px; }
    .p1redstone img {
      width: 50px;
      height: 50px; }
    .p1redstone p {
      font-size: 10;
      background-image: url(../assets/imagenes/general/Piepag.jpg);
      background-size: contain; }
    .p1redstone a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; }
  /**********************************************/
  .p1estructuras {
    display: block;
    justify-content: center;
    top: 80px; }
    .p1estructuras img {
      width: 50px;
      height: 50px; }
    .p1estructuras p {
      font-size: 10;
      background-image: url(../assets/imagenes/general/Piepag.jpg); }
    .p1estructuras a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; }
  /**********************************************/
  .p1granjas {
    display: block;
    justify-content: center;
    top: 110px; }
    .p1granjas img {
      width: 50px;
      height: 50px; }
    .p1granjas p {
      font-size: 10;
      background-image: url(../assets/imagenes/general/Piepag.jpg);
      background-size: contain; }
    .p1granjas a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; }
  /**********************************************/
  .p1aldeano {
    display: block;
    justify-content: center;
    top: 110px; }
    .p1aldeano img {
      width: 50px;
      height: 50px; }
    .p1aldeano p {
      font-size: 10;
      background-image: url(../assets/imagenes/general/Piepag.jpg);
      background-size: contain; }
    .p1aldeano a img {
      width: 50px;
      height: 50px;
      margin-top: 25px; } }

/**********************************************/
/*Pagina Redstone Responsive */
/*###########################################*/
@media (max-width: 1024px) {
  .centro {
    background-color: rgba(0, 255, 255, 0.712); }
    .centro p {
      font-size: 12; } }

/*----------------------------------------------------*/
@media (max-width: 768px) {
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  .centro {
    display: grid;
    grid-template-areas: "na1" "na2";
    justify-items: center;
    background-color: rgba(0, 255, 21, 0.274);
    gap: 5px;
    height: 230px; }
    .centro img {
      grid-area: na1;
      width: 100px;
      height: 100px;
      margin: 20px;
      top: 230px; }
    .centro p {
      grid-area: na2;
      font-size: 12px; } }

/*-------------------------------------------*/
@media (max-width: 425px) {
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  .centro {
    right: 0px;
    display: grid;
    grid-template-areas: "na1" "na2";
    justify-items: center;
    background-color: rgba(0, 255, 21, 0.274);
    gap: 5px;
    height: 250px;
    margin-right: 0px;
    margin-left: 150px;
    top: 150px; }
    .centro img {
      grid-area: na1;
      width: 100px;
      height: 100px;
      margin: 20px;
      top: 190px; }
    .centro p {
      grid-area: na2;
      font-size: 10px; }
  /*###########################################*/
  .barra {
    display: block;
    position: fixed;
    top: 110px;
    left: 0px;
    background: url(../assets/plantillas/marco.png);
    background-color: rgba(0, 162, 255, 0.274);
    width: 80px;
    height: 320px;
    justify-items: center;
    margin-left: 50px; }
    .barra img {
      height: 40px;
      align-items: center;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px; } }

/**********************************************/
/*Pagina Aldeano Responsive */
/*###########################################*/
@media (max-width: 1024px) {
  .marco {
    background-color: rgba(30, 255, 0, 0.712); } }

/*----------------------------------------------------*/
@media (max-width: 768px) {
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  .aldeano {
    align-self: center;
    right: 150px;
    height: 50px; }
    .aldeano img {
      height: 80px; }
    .aldeano p {
      font-size: 12;
      color: purple; }
  .marco {
    visibility: visible;
    position: relative;
    left: 200px;
    top: 200px;
    width: 210px;
    display: grid;
    grid-template-areas: "na1" "na1";
    justify-content: center;
    background-color: rgba(0, 255, 21, 0.274);
    gap: 5px;
    height: 140px; }
    .marco img {
      grid-area: na1;
      width: 100px;
      height: 100px;
      margin: 20px;
      top: 230px; }
    .marco p {
      grid-area: na2;
      font-size: 12px; }
  .apartados {
    bottom: 110px; }
    .apartados img {
      height: 80px;
      align-items: center; } }

/*-------------------------------------------*/
@media (max-width: 425px) {
  .enlaces {
    display: flex;
    right: 25%; }
    .enlaces img {
      height: 40px; }
  .aldeano {
    display: grid;
    position: relative;
    top: 100px;
    right: 15px;
    height: 50px;
    margin-left: 50px; }
    .aldeano img {
      justify-self: center;
      height: 150px; }
    .aldeano p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10; }
  .marco {
    visibility: hidden; }
  .apartados {
    bottom: 110px; }
    .apartados img {
      height: 50px;
      align-items: center; } }

/**********************************************/
/*Pagina Granjas Responsive */
/*###########################################*/
@media (max-width: 1024px) {
  .centro1 {
    visibility: hidden; }
  .narradora p {
    color: #040279; }
  .narrador p {
    color: #040279; } }

/*----------------------------------------------------*/
@media (max-width: 768px) {
  .enlaces {
    display: flex;
    right: 35%; }
    .enlaces img {
      height: 50px; }
  /*###########################################*/
  .centro1 {
    visibility: hidden; }
  .construccion {
    display: flex;
    position: fixed;
    top: 310px;
    right: 0px; }
    .construccion img {
      height: 140px; }
  /*###########################################*/
  .diseño {
    width: 100%;
    display: flex;
    position: fixed;
    top: 330px;
    right: 160px; }
  /*###########################################*/
  .recursos {
    display: flex;
    position: fixed;
    top: 310px;
    left: 25px;
    transform: rotateY(180deg); }
    .recursos img {
      height: 120px; }
    .recursos .rock {
      height: 85px; }
  /*###########################################*/
  .mons {
    visibility: hidden; } }

/*-------------------------------------------*/
@media (max-width: 425px) {
  .centro1 {
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    bottom: 150px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    gap: 5px;
    height: 300px;
    margin-right: 0px;
    margin-left: 150px; }
    .centro1 img {
      width: 90%;
      height: 50%;
      margin: 10px;
      top: 190px;
      margin: 10px;
      padding: 10px;
      background-color: rgba(49, 19, 1, 0.664); }
    .centro1 p {
      font-family: "Irish Grover", system-ui;
      font-weight: 1000;
      text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
      font-style: normal;
      text-align: center;
      font-weight: 1000;
      text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
      font-style: normal;
      text-align: justify;
      font-size: 12px;
      color: white;
      margin: 10px;
      padding: 10px;
      background-color: rgba(2, 136, 31, 0.507); }
  .narradora {
    visibility: hidden; }
  /*###########################################*/
  .narrador {
    visibility: hidden; }
  /*###########################################*/
  .construccion {
    display: flex;
    position: fixed;
    top: 350px;
    left: 0px;
    justify-content: left; }
    .construccion img {
      height: 100px; }
  /*###########################################*/
  .diseño {
    display: flex;
    position: fixed;
    top: 250px;
    left: 15px;
    justify-content: left;
    right: 20px; }
    .diseño img {
      height: 70px; }
    .diseño .map {
      height: 30px; }
  /*###########################################*/
  .recursos {
    display: flex;
    position: absolute;
    top: 120px;
    left: 0px; }
    .recursos img {
      height: 100px; }
    .recursos .rock {
      height: 65px; }
  /*###########################################*/
  .mons {
    visibility: hidden; } }

/*###########################################*/
/*Pagina Estructuras Responsive*/
/*###########################################*/
@media (max-width: 1024px) {
  .desplazo img {
    border: 10px solid #1e118f; } }

@media (max-width: 768px) {
  .desplazo {
    display: grid;
    grid-template-areas: "na1 na2 na3" "na4 na4 na4" "na5 na6 na7";
    width: 90%;
    height: 60%;
    margin: 20px;
    top: 95px;
    background: url(../assets/plantillas/marco.png);
    background-color: rgba(255, 187, 0, 0.274); }
    .desplazo img {
      height: 100px;
      padding: 15px;
      background-image: url(/assets/plantillas/plantilla1.png); }
    .desplazo:nth-child(1) {
      grid-area: na1; }
    .desplazo:nth-child(2) {
      grid-area: na2; }
    .desplazo:nth-child(3) {
      grid-area: na3; }
    .desplazo .ficha {
      visibility: visible;
      grid-area: na4;
      justify-content: center;
      display: inline-flex; }
      .desplazo .ficha img {
        border: 10px solid rgba(119, 59, 3, 0.534); }
      .desplazo .ficha p {
        padding: 10px;
        border: 10px solid rgba(119, 59, 3, 0.534);
        font-family: "Irish Grover", system-ui;
        font-weight: 1000;
        text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
        font-style: normal;
        text-align: center;
        font-size: 10px;
        color: white; }
    .desplazo:nth-child(5) {
      grid-area: na5; }
    .desplazo:nth-child(6) {
      grid-area: na6; }
    .desplazo:nth-child(7) {
      grid-area: na7; }
  .desplazador {
    visibility: hidden; } }

@media (max-width: 425px) {
  .desplazo {
    display: grid;
    grid-template-areas: "na4 na4 na4 na4 na4 na4" "na4 na4 na4 na4 na4 na4" "na1 na2 na3 na5 an6 na7";
    grid-template-rows: 2fr 1fr;
    width: 90%;
    height: 60%;
    margin: 20px;
    top: 95px;
    background: url(../assets/plantillas/marco.png);
    background-color: rgba(255, 187, 0, 0.274); }
    .desplazo img {
      height: 60px;
      padding: 15px;
      background-image: url(/assets/plantillas/plantilla1.png); }
    .desplazo:nth-child(1) {
      grid-area: na1; }
    .desplazo:nth-child(2) {
      grid-area: na2; }
    .desplazo:nth-child(3) {
      grid-area: na3; }
    .desplazo .ficha {
      visibility: visible;
      grid-area: na4;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-left: 90px;
      margin-right: 90px; }
      .desplazo .ficha img {
        border: 10px solid rgba(119, 59, 3, 0.534);
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto; }
      .desplazo .ficha p {
        padding: 10px;
        border: 10px solid rgba(119, 59, 3, 0.534);
        font-family: "Irish Grover", system-ui;
        font-weight: 1000;
        text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
        font-style: normal;
        text-align: center;
        font-size: 10px;
        color: white; }
    .desplazo:nth-child(5) {
      grid-area: na5; }
    .desplazo:nth-child(6) {
      grid-area: na6; }
    .desplazo:nth-child(7) {
      grid-area: na7; }
  .desplazador {
    visibility: hidden; } }

/*###########################################*/
/*Componentes*/
/*----------*/
/*--------------------------------------------------------------------------------*/
