    /*###########################################*/

/*Pagina Aldeano*/

    /*###########################################*/

    .aldeano {
        display: flex;
        position: absolute;
        background: url(../assets/plantillas/marco.png);
        background-color: rgba(255, 187, 0, 0.274);  
        top: 100px;
        right: 15px;
        height: 100px;
        margin-left: 50px;
        img{
            height: 200px;
            background-image: url(../assets/imagenes/aldeanos/Villager_Base.png);
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            margin-left: 25px;
            @include fuente_1;
            font-size: 14;
            height: 100px;
            color:purple;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
            /*###########################################*/
    .marco{
        visibility: hidden;
    }
    
    .apartados{
        display: flex;
        position: absolute;
        bottom: 250px;
        background: url(../assets/plantillas/marco.png);
        background-color: rgba(255, 187, 0, 0.274);  
        width: 93%;
        height: 100px;
        justify-content:space-between;
        margin-left: 50px;
        img{
            height: 200px;
            align-items: center;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .a1{
        background-image: url(../assets/imagenes/aldeanos/Bed.png);
        &:hover{
            background-size: 150%;
            }
    }
    .a2{
        background-image: url(../assets/imagenes/aldeanos/Crafting_Table.png);
        &:hover{
            background-size: 150%;
            }
    }
    .a3{
        background-image: url(../assets/imagenes/aldeanos/Trader.png);
        &:hover{
            background-size: 120%;
            }
    }
    .a4{
        background-image: url(../assets/imagenes/aldeanos/Witch.png);
        &:hover{
            background-size: 120%;
            }
    }
