@mixin fuente_1{
    font-family: "Irish Grover", system-ui;
    font-weight: 1000;
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black;
    font-style:normal;
    text-align: center;
}

@mixin Orden($ArcoA,$ArcoB,$ArcoC){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}