/*Caracteristicas particulares del body-fondo por pagina*/

.fondo1{
    background-image: url(../assets/imagenes/general/Pasto.jpeg);
}

.fondo2{
    background-image: url(../assets/imagenes/general/Redstone.png);
}

.fondo3{
    background-image: url(../assets/imagenes/general/pared.jpg);
}

.fondo4{
    background-image: url(../assets/imagenes/general/Tierra.jpeg);
}
.fondo5{
    background-image: url(../assets/imagenes/general/madera.jpg);
}
